<%- include('header')%>

<div class="result">
  <% if (error){ %>
    <div class="alert alert-danger" role="alert">
  <%= error %>
    </div>
  <% }else{ %>
  <%= quantidade %> dolares na cotação
  <%= cotacao %> é igual a
  <%= conversao %> reais
  <% }%>

</div>

<%- include('footer')%>